$main-color: #fffbd3;
$light-text: #abb0be;
$dark-text: #001e72;
$button1: #6394f8;
$dark-text: #001e72;
$button-light: #777777;
$delete-button: rgb(255, 98, 98);

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 14px/22px "Lato", Arial, sans-serif;
  background: $main-color;
}
#hero-img {
  margin: 20px 20px;
  img {
    margin-top: 48px;
    width: 100%;
  }
}
main {
  margin: 0 20px;
}
h3 {
  font-size: 50px;
  margin-top: 50px;
  text-transform: uppercase;
  color: rgb(220, 135, 31);
  padding-top: 77px;
  margin-top: -50px;
}
.lighter-text {
  color: #abb0be;
}

.main-color-text {
  font-size: 20px;
}

.icon-size {
  font-size: 9rem;
  z-index: 3;
  color: #001e72;
}
nav {
  height: 50px;
  padding: 20px 0 40px 0;
  background: #cbe1e7;
  background: #eec95b;
  font-size: 16px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  .container {
    margin: auto;
    width: 80%;
  }
  .container.--nav {
    position: relative;
  }

  .navbar-left {
    float: left;
  }

  .navbar-right {
    float: right;
  }

  ul {
    li {
      display: inline;
      padding-left: 20px;
      a {
        color: #777777;
        text-decoration: none;
        &#cart {
          cursor: pointer;
        }

        &:hover {
          color: black;
        }
      }
    }
  }
}

.badge {
  background-color: $button1;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart.active {
  opacity: 1 !important;
  z-index: 3;
}

.shopping-cart {
  border: solid 1px #eec95b;
  color: #777777;
  opacity: 0;
  transition: all 0.3s ease;
  margin: 20px 0;
  background: #fdfdf7;
  width: 370px;
  border-radius: 3px;
  padding: 20px;
  position: fixed;
  right: 10%;
  top: 7%;
  z-index: -1;
  max-height: 70vh;
  overflow: auto;

  .shopping-cart-header {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;

    .shopping-cart-total {
      float: right;
    }
  }

  .shopping-cart-items {
    padding-top: 20px;

    li {
      margin-bottom: 18px;
    }

    img {
      float: left;
      margin-right: 12px;
    }

    .item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
    }

    .item-price {
      color: $dark-text;
      margin-right: 8px;
    }

    .item-quantity {
      color: $light-text;
    }
  }
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #eec95b;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.cart-button {
  display: flex;
  justify-content: space-between;
  .button {
    cursor: pointer;
    display: flex;
    background: #6394f8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
    height: 44px;
    width: 45%;
    text-align: center;
    &.--delete {
      background: $delete-button;
      &:hover {
        background: lighten($delete-button, 7%);
      }
    }
    &:hover {
      background: lighten($button1, 5%);
    }
  }
}

.mainPage {
  margin-top: 40px;
}
.item-list-container {
  &.--ranking {
    height: 375px;
    overflow-x: scroll;
    background-color: rgb(255, 232, 177);
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.item-list-container {
  // width: 100%;
  // border: 1px solid #cdc88f;
  border-radius: 5px;
  padding: 20px 20px;
  margin: 20px 20px;
  background-color: rgb(255, 246, 179);
}
.ranking-num {
  margin-left: 7px;
  // border: solid 1px #515783;
  margin-bottom: 6px;
  font-weight: 900;
  width: 40px;
  height: 30px;
  border-radius: 50px;
  background-color: rgb(248, 169, 0);
  font: 20px;
  color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items-list .--ranking {
  // overflow-x: scroll;
}
.items-list .--ranking {
  // white-space: nowrap;
  // overflow-x: scroll;
}

.items-list {
  margin-left: 8px;
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  .item {
    margin: 0 17px;
    margin-bottom: 60px;
    &.--ranking {
      justify-content: center;
    }
    .item-container {
      border-radius: 9px;
      background: #fffbd3;
      width: 185px;
      padding-top: 5px;
      padding-bottom: 5px;
      // width: 150px;
      min-height: 300px;
      margin-bottom: 20px;
      text-align: center;
      .item-img {
        min-height: 210px;
        max-height: 210px;
        width: 140px;
      }
      .price {
        margin-top: 3px;
        font-size: 20px;
        padding-bottom: 2px;
      }
      .title {
        font-size: 16px;
        height: 27px;
        word-wrap: break-word;
        line-height: 13px;
        overflow: auto;
      }
      .addBtn {
        text-transform: uppercase;
        overflow-y: scroll;
        width: 80%;
        height: 30px;
        cursor: pointer;
        background: #6394f8;
        color: white;
        text-align: center;
        border-radius: 7px;
        text-decoration: none;
        &:hover {
          background: lighten($button1, 5%);
        }
      }
    }
  }
}

/////////////////////////////////////////////
///

.CartContainer {
  width: 70%;
  height: 90%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 10px 20px #1687d933;
}
.cart-lists {
  list-style: none;
  margin-top: 20px;
  .cart-list {
    .cart-row {
      display: flex;
      align-items: center;

      .about {
        margin-left: 10px;
        width: 100px;
        .cart {
          display: flex;
          align-items: center;
          word-wrap: break-word;
          line-height: 11px;
          height: 52px;
          overflow: auto;
        }
      }
      .counter {
        margin-left: 10px;
        .remove {
          font-size: 10px;
          padding: 2px 3px;
          height: 28px;
          width: 55px;
          background: $delete-button;
          color: $main-color;
          border-radius: 4px;
          margin-left: 12px;
          cursor: pointer;
          margin-top: 3px;
          text-decoration: none;
          &:hover {
            background: lighten($delete-button, 7%);
            border-bottom: solid 1px #001e72;
          }
        }
      }
    }
    .prices {
      margin-left: 20px;
      .amount {
        width: 40px;
        font-weight: 600;
      }
    }
    .counter {
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cart-quantity-input {
        padding-left: 5px;
        margin-left: 3px;
        width: 42px;
        height: 25px;
      }
    }

    .image-box img {
      height: 60px;
      width: 47px;
    }
  }
}

.button-box {
  width: 100%;
  padding: 8px 16px;
  margin: 16px auto;
}

.modal-msg {
  cursor: pointer;
  width: 50%;
  max-width: 300px;
  height: 2.5em;
  margin: 8px auto;
  padding: 4px 0;
  border-radius: 4px;
  background-color: blue;
  color: white;
  font-size: 24px;
  font-weight: bold;
  &:hover {
    opacity: 0.7;
  }
}

.hidden {
  display: none;
}

.message {
  width: 25%;
  min-width: 300px;
  height: 115px;
  padding: 15px 16px;
  border-radius: 8px;
  background: rgb(255, 140, 0);
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 5%;
  bottom: 10%;
  color: white;
}

.popup-message {
  animation: popup 1.5s forwards;
}

@keyframes popup {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }
  10%,
  90% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: translateY(15%);
    opacity: 0;
    pointer-events: none;
  }
}
