$main-color: #d8d8d8;

$light-text: #abb0be;
$dark-text: #2c2b2b;
$button1: #6394f8;
$dark-text: #2c2b2b;
$button-light: #777777;
$delete-button: rgb(255, 98, 98);

$main-color: rgb(229, 225, 218);
$card-color: floralwhite;
$nav-color: rgb(33, 33, 31);

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 14px/22px "Lato", Arial, sans-serif;
  font-family: "Gill Sans", sans-serif;
  background: $main-color;
}

#hero-img {
  position: relative;
  .bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 82, 116, 0.584314);
  }
  h1.main-title {
    position: absolute;
    font-size: 145px;
    height: 100%;
    // width: 100%;
    top: 50%;
    color: rgba(255, 255, 255, 0.936);
    left: 50px;
    font-weight: 100;
    text-shadow: 2px 2px 3px #666;
  }
  img {
    margin-top: 61px;
    width: 100%;
  }
}
main {
  margin: 0 20px;
}
h3 {
  font-family: "Gill Sans", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #2c2b2b;
  padding-top: 77px;
  margin-top: -50px;
  margin-left: 120px;
  font-weight: 400;
  text-shadow: 2px 2px 3px #666;
}
.lighter-text {
  color: #abb0be;
}

.main-color-text {
  font-size: 20px;
}

nav {
  z-index: 3;
  height: 50px;
  padding: 20px 0 40px 0;
  background: #cbe1e7;
  background: $dark-text;
  background: $dark-text;
  font-size: 18px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  text-transform: uppercase;
  .container {
    margin: auto;
    width: 80%;
  }
  .container.--nav {
    position: relative;
  }

  .navbar-left {
    float: left;
  }

  .navbar-right {
    float: right;
  }

  ul {
    li {
      display: inline;
      padding-left: 20px;
      a {
        color: #777777;
        text-decoration: none;
        &#cart {
          cursor: pointer;
        }

        &:hover {
          color: rgb(174, 174, 174);
        }
      }
    }
  }
}

.fa-square-xmark {
  position: absolute;
  top: 1px;
  right: 3px;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: #465274;
  }
}
.badge {
  background-color: $button1;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart.active {
  opacity: 1 !important;
  z-index: 3;
}

.shopping-cart {
  border: solid 1px $button-light;
  color: #777777;
  opacity: 0;
  transition: all 0.3s ease;
  margin: 20px 0;
  background: #fdfdf7;
  width: 375px;
  border-radius: 3px;
  padding: 24px;
  padding-top: 20px;
  position: fixed;
  right: 10%;
  top: 7%;
  z-index: -1;
  max-height: 70vh;
  overflow: auto;

  .shopping-cart-header {
    margin-top: 5px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;

    .shopping-cart-total {
      float: right;
    }
  }

  .shopping-cart-items {
    padding-top: 20px;

    li {
      margin-bottom: 18px;
    }

    img {
      float: left;
      margin-right: 12px;
    }

    .item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
    }

    .item-price {
      color: $dark-text;
      margin-right: 8px;
    }

    .item-quantity {
      color: $light-text;
    }
  }
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #eec95b;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.cart-button {
  display: flex;
  justify-content: space-between;
  .button {
    cursor: pointer;
    display: flex;
    background: #6394f8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
    height: 44px;
    width: 45%;
    text-align: center;
    &.--delete {
      background: $delete-button;
      &:hover {
        background: lighten($delete-button, 7%);
      }
    }
    &:hover {
      background: lighten($button1, 5%);
    }
  }
}

.mainPage {
  margin-top: 40px;
  .arrow-container {
    position: relative;
  }
  .arrow {
    position: absolute;
    font-size: 37px;
    top: 50%;
    color: $button-light;

    &.--left {
      left: 80px;
    }
    &.--right {
      right: 80px;
    }
  }
}

.item-list-container {
  &.--ranking {
    position: relative;
    height: 385px;
    overflow-x: scroll;
    padding-right: 100px;
    // background-color: rgb(255, 232, 177);
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.item-list-container {
  // width: 100%;
  // border: 1px solid #cdc88f;
  margin-top: 10px;
  border-radius: 5px;
  padding: 16px 8px;
  margin: 20px 11%;
  background-color: lighten($color: $main-color, $amount: 50%);
}
.ranking-num {
  border: solid 1px white;
  position: absolute;
  z-index: 1;
  margin-left: 7px;
  margin-top: 4px;
  // border: solid 1px #515783;
  margin-bottom: 6px;
  font-weight: 900;
  width: 40px;
  height: 30px;
  border-radius: 50px;
  background-color: rgb(208, 128, 0);
  font: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ranking.items-list {
  &:last-child {
    margin-right: 20px;
  }
  justify-content: inherit;
  flex-wrap: nowrap;

  &.--ranking {
    // justify-content: space-around;
    overflow-x: scroll;
    /* スクロールバーの幅と高さを設定する */
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    /* スクロールバーの形を設定する */
    &::-webkit-scrollbar-thumb {
      border-radius: 0.25rem;
    }
    /* スクロールバーの色を設定する */
    &::-webkit-scrollbar-thumb {
      --bg-opacity: 1;
      background-color: black;
    }
  }
  .item {
    &:last-child {
      margin-right: 20px;
    }
    // .item-container.--ranking {
    //   background: floralwhite;
    //   min-width: 206px;
    //   max-width: 206px;
    //   padding-top: 8px;
    //   padding-bottom: 5px;
    //   min-height: 335px;
    //   text-align: center;
    // }
  }
}
.items-list {
  margin-left: 8px;
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .item {
    // transition: all 0.3s;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    margin: 0 9px;
    margin-bottom: 45px;
    border-radius: 9px;
    min-width: 170px;
    max-width: 170px;
    // &:hover {
    //   top: -1px;
    //   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    // }
    .item-container {
      background: floralwhite;
      // min-width: 206px;
      // max-width: 206px;
      padding-top: 0;
      padding-bottom: 5px;
      min-height: 324px;
      text-align: center;
      .item-img {
        margin-top: 0;
        border-radius: 5px;
        min-height: 250px;
        max-height: 250px;
        width: 100%;
      }
      .about-item {
        display: flex;
        width: 100%;
        /* justify-content: center; */
        padding: 0 10px;
        justify-content: space-between;
        align-items: center;
        /* margin: 0 22px; */
        margin-top: 5px;
        .price {
          height: 50px;
          margin-top: 3px;
          font-size: 20px;
          padding-bottom: 2px;
          padding-left: 7px;
        }
        .title {
          font-size: 15px;
          height: 50px;
          word-wrap: break-word;
          line-height: 16px;
          overflow: auto;
          text-align: center;
          width: 68%;
        }
      }
      // .addBtn {
      //   text-transform: uppercase;
      //   overflow-y: scroll;
      //   width: 80%;
      //   height: 30px;
      //   cursor: pointer;
      //   background: #6394f8;
      //   color: white;
      //   text-align: center;
      //   border-radius: 7px;
      //   text-decoration: none;
      //   &:hover {
      //     background: lighten($button1, 5%);
      //   }
      // }
    }
  }
}

/////////////////////////////////////////////
///

.CartContainer {
  width: 70%;
  height: 90%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 10px 20px #1687d933;
}
.cart-lists {
  list-style: none;
  margin-top: 17px;
  .cart-list {
    .cart-row {
      display: flex;
      align-items: center;

      .about {
        margin-left: 10px;
        width: 100px;
        .cart {
          display: flex;
          align-items: center;
          word-wrap: break-word;
          line-height: 11px;
          height: 52px;
          overflow: auto;
        }
      }
      .counter {
        margin-left: 10px;
        .remove {
          font-size: 18px;
          cursor: pointer;

          &:hover {
            color: $light-text;
            // border-bottom: solid 1px #001e72;
          }
        }
      }
    }
    .prices {
      margin-left: 20px;
      .amount {
        width: 40px;
        font-weight: 600;
      }
    }
    .counter {
      width: 30%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .cart-quantity-input {
        padding-left: 5px;
        margin-left: 3px;
        width: 42px;
        height: 25px;
      }
    }

    .image-box img {
      height: 60px;
      width: 47px;
    }
  }
}

.button-box {
  width: 100%;
  padding: 8px 16px;
  margin: 16px auto;
}

.modal-msg {
  cursor: pointer;
  width: 50%;
  max-width: 300px;
  height: 2.5em;
  margin: 8px auto;
  padding: 4px 0;
  border-radius: 4px;
  background-color: blue;
  color: white;
  font-size: 24px;
  font-weight: bold;
  &:hover {
    opacity: 0.7;
  }
}

.message {
  width: 25%;
  min-width: 300px;
  height: 115px;
  padding: 23px 16px;
  border-radius: 8px;
  background: rgba(0, 21, 38, 0.869);
  font-size: 21px;
  line-height: 18px;
  font-weight: bold;
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  left: 4%;
  bottom: 4%;
  color: white;
  z-index: 3;
  .hidden {
    display: none;
  }
}

.popup-message {
  animation: popup 2s forwards;
}

@keyframes popup {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }
  10%,
  90% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: translateY(15%);
    opacity: 0;
    pointer-events: none;
  }
}
////////////////////////////////////

.img-container {
  // overflow: hidden;
  // border-radius: 5px;
  .fav-icon.like-no:before {
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    // font-weight: 900;
    font-size: 30px;
    z-index: 1;
    right: 8px;
    top: 8px;
    color: white;
    text-shadow: 1px 1px 2px #000;
  }
  .fav-icon.like-no:hover:before {
    color: red;
  }
  .fav-icon.like-yes:before {
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    font-weight: 900;
    font-size: 30px;
    z-index: 1;
    right: 8px;
    top: 8px;
    color: red;
    text-shadow: 1px 1px 2px #000;
  }
  .fav-icon.like-yes:hover:before {
    color: white;
    // font-weight: 100;
  }
}
.item-container {
  border: 1px solid #ddd;
  margin: 0 auto;
  overflow: hidden;
  img {
    width: 100%;
    transition-duration: 0.5s;
  }
  &:hover img {
    transform: scale(1.2);
    transition-duration: 0.5s;
  }
}
////////////////////////////////////
li.item {
  position: relative;
  overflow: hidden;
  &:hover .card-overlay {
    left: 0;
  }
  .card-overlay {
    position: absolute;
    left: -100%;
    bottom: 0;
    // background-color: rgba(211, 171, 85, 0.6);
    color: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: left 0.5s;
    width: 100%;
    height: 13.5%;
    border-radius: 0 0 9px 9px;
  }

  &:hover .about-item {
    right: -110%;
  }
  .about-item {
    position: absolute;
    right: 0;
    bottom: -5px;
    transition: right 0.5s;
  }

  .addBtn {
    width: 94%;
    height: 100%;
    margin-bottom: 6px;
    /* margin-top: 7px; */
    color: #d6a233;
    background-color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #d6a233;
    border-radius: 9px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #cc8c03;
      border: solid 1px white;
      color: #fff;
    }
  }
}

////////////////////////////////////

@media (max-width: 900px) {
  .card-overlay-heading {
    font-size: 35px;
  }
}
@media (max-width: 650px) {
  .card-overlay-heading {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .card-overlay-heading {
    display: none;
  }
}

@media (max-width: 900px) {
  .card-overlay-paragraph {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .card-overlay-paragraph {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .card-overlay-paragraph {
    display: none;
  }
}

@media (max-width: 900px) {
  .card-overlay-btn {
    font-size: 12px;
    width: 130px;
    height: 30px;
  }
}
@media (max-width: 650px) {
  .card-overlay-btn {
    font-size: 10px;
    width: 100px;
    height: 30px;
  }
}
